@import url(./css/animacoes.css);
@import url(./css/responsividade.css);

:root {
    --Blue: #009EF7;
    --Green: #50CD89;
    --Purple: #7239EA;
    --Red: #F1416C;
    --Yellow: #FFC700;
    --Gray: #E4E6EF;
    --Gray-Background: #F5F8FA;
    --Gray-Dark: #333333;
    --Gray-Darkest: #131628;
    --Gray-Dark-Hover: #1E1E2D;
    --Gray-Light: #A1A5B7;
    --Gray-Lightest: #EFF2F5;
    --Gray-Medium: #555555;
    --Background-Light: #f6f8fa;
    --Background-Menu-Hover: #e8ecf2;
    --Border-Light: #d0d7de;
    --Font-color-default: #1f2328;
    --Sombra: 0 4px 8px 0 rgba(0,0,0,0.2);
    --Sombra-Hover: 0 8px 16px 0 rgba(0,0,0,0.2);
    --Sombra-Branca: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    --Max-Width: 1140px;
    --font-size-p: 1rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--Gray-Dark);
    list-style: none;
    font-family: "Poppins";
    scroll-behavior: smooth;
    font-size: var(--font-size-p);
}

p {
   font-size: var(--font-size-p);
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.center {
    justify-content: center;
}

.border {
    border: 1px solid transparent;
}

body {
    /*background-color: #fafafa;*/
    background-color: white;
}

h4 {
    font-size: 20px;
    max-width: 250px;
}


header {
    position: fixed;
    z-index: 1;
    width: 100%;
    top:0;
    padding: 20px;
    min-height: 60px;
    background-color: var(--Background-Light);
    /*background-color: var(--Background-Light);*/
    border-bottom: 1px solid var(--Border-Light); 
    /*box-shadow: var(--Sombra-Branca);*/
    /*box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;*/
    justify-content: space-between;
}

header h3, p {
    color: var(--Font-color-default);
}

.header-container {
    justify-content: space-between;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    height: fit-content;
    margin: 0 auto;
}

.header-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
}

header i {
    display: none;
    align-self: center;
}

header ul {
    display: flex;
}

header a {
    padding: 8px 16px;
    display: block;
    position: relative;
    border-radius: 5px;
    color: var(--Font-color-default);
   
}

header a:hover {
    background-color: var(--Background-Menu-Hover);
}

header ul li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 0.2rem;
    background: var(--Purple);
    transition: all 300ms ease-in-out;
}

header ul li a::after:hover {
    left: 25%;
    width: 50%;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
    height: fit-content;
    text-align: left;
    margin: 0;
    min-height: 100vh;
}

section h2 {
    margin-bottom: 48px;
    font-size: 40px;
}

.btn-cta {
    height: 44px;
    min-width: 120px;
    max-width: fit-content;    
    padding: 10px 25px;
    border-radius: 30px;
    display: block;
    color: white;
    font-size: 17px;
    font-weight: 500;
    background-color: var(--Purple);
    align-self: flex-start;
    justify-content: center;
    transition: all 0.5s;
}

.btn-cta:hover {
    background-color: #5b2ebc;
    color: white;
    transform: scale(1.2);
}

#hero {
    margin-top: 80px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./img/bg-tech.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
}

#hero p {
    color: white;
    font-size: 18px;
    margin-bottom: 48px;
}

#hero h1 {
    color: white;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 48px;
}

.hero-text {
    margin: 0;
    max-width: 50%;
    height: auto;
    padding: 20px;
}
.hero-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    height: auto;
}

.hero-body img {
    height: auto;
    max-width: 100%;  
}

.hero-img {
    
    max-width: 50%;
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./img/person-front-computer-working-html.jpg");
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    /*background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;*/
}

.text-sobre {
    max-width: 1140px;
    padding: 20px;
}

.text-sobre p {
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--Gray-Dark);
}

#skills {
    background-color: var(--Background-Light);
    border-top: 1px solid var(--Border-Light);
    border-bottom: 1px solid var(--Border-Light);
    padding: 100px 0;
   
}

.skills-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 320px;
    height: fit-content;
}

.skills-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    min-width: 80px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 700;
    padding: 8px;
    background-color: #fff;
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    margin: 10px;
    transition: all 0.5s;
}

.skills-icon:hover {
    transform: scale(1.2);
}

.skills-icon img {
    position: relative;
    height: 44px;
    width: 44px;
}

.servicos-body {
    display: flex;
    flex-wrap: wrap;
    max-width: var(--Max-Width);
    height: fit-content;
    justify-content: center;
}

.servicos-card {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    border-radius: 20px;
    width: 30%;
    background-color: var(--Background-Light);
    border: 1px solid var(--Border-Light);
    margin: 10px;
    transition: all 1.2s ease;
}

.servicos-card i {
    font-size: 50px;
    align-self: center;
    color: var(--Purple);
    opacity: 0.7;
    margin-bottom: 10px;
}

.servicos-card img {
    height: 44px;
    width: 44px;
    margin: 0 auto;
    margin-bottom: 24px;
}

.servicos-card:hover {
    background-color: var(--Background-Menu-Hover);
    cursor: pointer;
}

.servicos-card h3 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 8px;
}

.servicos-card p {
    font-size: 16px;
    margin-bottom: 22px;
    line-height: 28px;
    color: var(--Gray-Dark);
    text-align: center;
}

#projetos {
    background-color: var(--Background-Light);
    border-top: 1px solid var(--Border-Light);
    border-bottom: 1px solid var(--Border-Light);
    padding: 100px 0;
}

.projetos-body {
    display: flex;
    flex-wrap: wrap;
    max-width: var(--Max-Width);
    height: fit-content;
    justify-content: center;
}

.img-div {
    flex: 1;
    overflow: hidden;
    border-radius: 20px;
}

.img-div img {
    width: 100%;
    transition: all 0.5s;
    display: block;
}

.img-div img:hover {
    transform: scale(1.2) rotate(12deg);
}

.projetos-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    width: 30%;
    background-color: #fff;
    margin: 10px;
    text-align: center;
    justify-content: center;
}

/*.projetos-card img {
    border-radius: 20px;
    margin-bottom: 10px;
    transition: all 0.5s;
    display: block;
}

.projetos-card img:hover {
    transform: scale(1.2) rotate(12deg);
}*/

.projetos-card a {
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    color: var(--Gray-Dark);
    margin-bottom: 10px;

}

.projetos-card h3 {
    margin-bottom: 22px;
    align-self: center;
}

.badge {
    border: 1px solid #dbdbdb;
    font-size: 12px;
    padding: 2px 4px;
    width: fit-content;
    border-radius: 20px;
    background-color: #f2f2f2;
    color: #4c4c4c;
    margin-right: 5px;
    margin-bottom: 5px;
}

footer {
    padding: 20px;
    height: fit-content;
    background-color: var(--Background-Light);
    border-top: 1px solid var(--Border-Light);
}

.footer p {
    color: var(--Gray-Dark);
}

.footer-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: var(--Max-Width);
    margin: 0 auto;
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
}

.footer-menu ul {
    margin: 10px;
}

.footer-menu li {
    width: fit-content;
}

.footer-menu a {
    display: block;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 400;
    width: fit-content;
    border-radius: 5px;
}

.footer-menu a:hover {
    background-color: var(--Background-Menu-Hover);
}

.footer-bottom {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
}

.footer-brand {
    display: flex;
    align-items: top;
    column-gap: 10px;
    padding: 10px;
    height: fit-content;
    width: fit-content;
}

.footer-brand img {
    height: 44px;
    width: 44px;
}

.redes-sociais {
    text-align: left;
}

.redes-sociais ul li a {
    border-radius: 100%;
    background-color: var(--Gray-Dark);
    margin: 5px;
    padding: 4px 8px;
}

.redes-sociais ul li a:hover {
    background-color: var(--Gray-Dark-Hover);
    transform: scale(1.2);
    transition: all 0.5s;
}

.redes-sociais i {
    font-size: 25px;
    padding: 5px;
    color: #fff;
}

.redes-sociais ul {
    margin-left: 0;
    margin-right: 50px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    height: 44px;
    padding: 12px; /* Some padding */ 
    border: 1px solid var(--Border-Light);/* Gray border */
    border-radius: 5px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: var(--Purple);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #b298ff;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    padding: 20px;
    max-width: 1140px;
  }

  .elemento {
    opacity: 0;
  }

  .fade-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.visible.fade-up {
    opacity: 1;
    transform: translateY(0);
}

  

@media (max-width:850px)  {
    .header-body {
        display: none;
    }

    header i {
        display: block;
    }


    /*.servicos-card {
        background-color: #dbdbdb;
        width: 50%;
    }*/

    #hero {
        max-width: 100vw;
    }
}

@media screen and (min-width:851px) {
    header i {
        display: none;
    }

}

@media screen and (max-width:768px)  {
    .servicos-card {
        width: 40%;
    }

    .projetos-card {
        width: 40%;
    }

    .projetos-card img {
        width: 100%;
    }

    #hero {
        max-width: 100vw;
    }
}

@media screen and (max-width:678px)  {
    .servicos-card {
        width: 100%;
    }

    .servicos-card h4, p {
        max-width: 100%;
    }

    .servicos-card p {
        max-width: 100%;
    }

    .projetos-card img {
        width: 100%;
    }

    .projetos-card {
        width: 100%;
    }

    .header-body img {
        max-width: 100%;
    }

    #hero {
        max-width: 100%;
    }

    #hero h1, p {
        width: 100%;
    }

    .hero-img, .hero-text {
        max-width: 100%;
    }
}


/* @keyframes slidein {
    from {
      margin-left:  60%;
      width:  30%;
    }
  
    to {
      margin-left:  0%;
      width:  30%;
    }
  }
  
  .projetos-card {
    animation: slidein  3s;
  } */