* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #333;
    list-style: none;
    font-family: "Poppins";
}

.flex {
    display: flex;
}

.border {
    border: 1px solid red;
}

body {
    background-color: #fafafa;
}

h4 {
    font-size: 20px;
    max-width: 250px;
}

#hero p {
    font-size: 18px;
    max-width: 400px;
}

#hero h1 {
    font-size: 32px;
    line-height: 40px;
    max-width: 400px;
    margin-bottom: 10px;
}

.hero-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-body img {
    height: auto;
    width: 400px;
    margin: 10px;
}

.hero-text {
    margin: 10px;
}

header {
    padding: 20px;
    min-height: 60px;
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    justify-content: space-between;
}

.header-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
}

header a {
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
}

header a:hover {
    background-color: #dbdbdb;
    color: #fff;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: fit-content;
    text-align: left;
    margin: 100px 0;
}

section h2 {
    margin-bottom: 10px;
    font-size: 32px;
}

.skills-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 300px;
}

.skills-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    min-width: 80px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 700;
    padding: 8px;
    background-color: #fff;
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    margin: 10px;
}

.skills-icon img {
    height: 44px;
    width: 44px;
}

.servicos-body {
    display: flex;
    flex-wrap: wrap;
    width: 940px;
    height: fit-content;
    border: transparent solid 1px;
    justify-content: space-between;
}

.servicos-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    width: fit-content;
    background-color: #fff;
    margin: 10px;
}

.servicos-card h4 {
    font-size: 24px;
    font-weight: 500;
}

.servicos-card p {
    font-size: 16px;
    max-width: 250px;
    margin-bottom: 22px;
    line-height: 28px;
}


.projetos-body {
    display: flex;
    flex-wrap: wrap;
    width: 940px;
    height: fit-content;
    border: transparent solid 1px;
    justify-content: space-between;
}

.projetos-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    width: fit-content;
    background-color: #fff;
    margin: 10px;
}

.projetos-card img {
    width: 250px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.projetos-card a {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #333;
    margin-bottom: 10px;
    max-width: 250px;
}

.projetos-card h4 {
    margin-bottom: 22px;
}

.badge {
    border: 1px solid #dbdbdb;
    font-size: 12px;
    padding: 2px 4px;
    width: fit-content;
    border-radius: 20px;
    background-color: #f2f2f2;
    color: #4c4c4c;
    margin-right: 5px;
}

footer {
    padding: 20px;
    height: fit-content;
    background-color: #f2f2f2;
}

.footer-container {
    display: flex;
    justify-content: center;
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    margin: 0 50px;
    border: 1px solid transparent;

}

.footer-menu ul {
    margin-right: 50px;
    margin-left: 50px;
}

.footer-menu li {
    padding: 8px;
    width: fit-content;
    border: 1px solid transparent;
}

.footer-menu a {
    font-size: 16px;
    font-weight: 400;
    width: fit-content;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.footer-brand {
    display: flex;
    align-items: top;
    column-gap: 10px;
    padding: 10px;
}

.footer-brand img {
    height: 44px;
    width: 44px;
}

.redes-sociais {
    text-align: left;
}

.redes-sociais li {
    border-radius: 100%;
    background-color: #333;
    margin: 5px;
}

.redes-sociais i {
    font-size: 25px;
    padding: 5px;
    color: #fff;
}

.redes-sociais ul {
    margin-left: 0;
    margin-right: 50px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }